/*
figure {
   display: table;
   padding: 5px;
   background-color: #fff;
   font-size: .875em;
   
}

figure img {
   display: block;
   max-width: 100%;
}

figure {
	display: inline-flex;
	flex-wrap: wrap;
}

figcaption {
	width: min-content;
	flex: 1;
}

figure > img {
	flex: 1 0 100%;
}
*/

figcaption a {
	color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  border-right: 1px solid color-mix(in srgb, var(--accent) 10%, transparent);
}

.container.full, .container.center {
  border: none;
  margin: 0 auto;
  max-width: 100vw;
	width: 70%;
}

.container.full {
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}
