<div class="icons">
  <div class="icon">
    <h2>Contact Info:</h2>
  </div>
  <div class="icon">
    <a href="https://github.com/DTAlemayehu01"><img src="/icons/images/svg/github.svg" alt="Github Icon" style="border:0px" width="50px"></img></a>
  </div>
  <div class="icon">
    <a href="https://www.linkedin.com/in/dtalemayehu/"><img src="/icons/images/svg/linkedin.svg" alt="Linkedin Icon" style="border:0px" width="50px"></img></a>
  </div>
  <div class="icon">
    <a href="mailto:daniel.alemayehu@colorado.edu"><img src="/icons/images/svg/mail.svg" alt="Email Icon" style="border:0px" width="50px"></img></a>
  </div>
</div>
